bin/
*.exe
*.out
*.o
*.obj
.vscode/
.DS_Store
Thumbs.db

!Day01/Output/
!Day01/Output/*.exe
!Day02/Output/
!Day02/Output/*.exe
!Day03/Output/
!Day03/Output/*.exe
!Day04/Output/
!Day04/Output/*.exe
!Day05/Output/
!Day05/Output/*.exe
!Day06/Output/
!Day06/Output/*.exe
!Day07/Output/
!Day07/Output/*.exe
!Day08/Output/
!Day08/Output/*.exe
!Day09/Output/
!Day09/Output/*.exe
!Day10/Output/
!Day10/Output/*.exe
!Day11/Output/
!Day11/Output/*.exe
!Day12/Output/
!Day12/Output/*.exe
!Day13/Output/
!Day13/Output/*.exe
!Day14/Output/
!Day14/Output/*.exe
!Day15/Output/
!Day15/Output/*.exe
!Day16/Output/
!Day16/Output/*.exe
!Day17/Output/
!Day17/Output/*.exe
!Day18/Output/
!Day18/Output/*.exe
!Day19/Output/
!Day19/Output/*.exe
!Day20/Output/
!Day20/Output/*.exe
!Day21/Output/
!Day21/Output/*.exe
!Day22/Output/
!Day22/Output/*.exe
!Day23/Output/
!Day23/Output/*.exe
!Day24/Output/
!Day24/Output/*.exe
!Day25/Output/
!Day25/Output/*.exe
!Day26/Output/
!Day26/Output/*.exe
!Day27/Output/
!Day27/Output/*.exe
!Day28/Output/
!Day28/Output/*.exe
!Day29/Output/
!Day29/Output/*.exe
!Day30/Output/
!Day30/Output/*.exe
!Day31/Output/
!Day31/Output/*.exe
!Day32/Output/
!Day32/Output/*.exe
!Day33/Output/
!Day33/Output/*.exe
!Day34/Output/
!Day34/Output/*.exe
!Day35/Output/
!Day35/Output/*.exe
!Day36/Output/
!Day36/Output/*.exe
!Day37/Output/
!Day37/Output/*.exe
!Day38/Output/
!Day38/Output/*.exe